# CMake
cmake-build-*/
# idea folder
.idea/
# logs
logs/

# data for dataset classes
data/

# pytorch rocm
libtorch/
# trained models
*.pt
*.pth
runs/

# OpenGL context
glad/
/LearnOpenGL/assets/textures

